<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Registro de Dados</title>
  </head>
  <body>
    <h1> Sistema de Registro de Dados</h1>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/usuarios/recovery">Usuários</a>
    <a href="/usuarios/recovery">Recovery</a> <br>
    <a href="/usuarios/create">Novo Registro</a> <br>  
  </body>
 
</html>